<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gantiexia.login.mapper.LoginMapper">

    <select id="getUserMessage" parameterType="com.gantiexia.login.entity.User" resultType="com.gantiexia.login.entity.User">
        select
            id id,
            id_number idNumber,
            password password,
            user_name userName
        from
            s_user
        where
        id_number = #{idNumber}
    </select>

</mapper>