<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>我的小铺子</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>
<div class="layui-layout layui-layout-admin layui-bg-black">
    <div class="layui-header layui-bg-black">
        <div class="layui-logo layui-hide-xs layui-bg-black">解忧杂货铺</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-right layui-bg-black">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
                    <img src="/picture/picture.jpg" class="layui-nav-img">
                    <span id="userName">用户名</span>  |  <span id="idNumber">账号</span>
                </a>
                <dl class="layui-nav-child">
<!--                    <dd><a href="">Your Profile</a></dd>-->
<!--                    <dd><a href="">Settings</a></dd>-->
                    <dd><a href="">Sign out</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-more-vertical"></i>
                </a>
            </li>
        </ul>
    </div>

    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-bg-black layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">商品分类</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/store/toCommodityPage">手机</a></dd>
                        <dd><a href="javascript:;">平板</a></dd>
                        <dd><a href="javascript:;">电脑</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">商品管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">上架商品</a></dd>
                        <dd><a href="javascript:;">下架商品</a></dd>
                    </dl>
                </li>

<!--                <li class="layui-nav-item"><a href="javascript:;">功能三</a></li>-->
                <li class="layui-nav-item"><a href="">关于我们</a></li>
            </ul>
        </div>
    </div>

    <!-- 内容主体区域 -->
    <div class="layui-body">
      <iframe src="/store/toCommodityPage" style="width: 99%;height: 99%"></iframe>
    </div>

    <!-- 底部固定区域 -->
    <div class="layui-footer">
        <p style="text-align: center;color: black">解忧杂货铺</p>
    </div>
</div>
<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script>

    //JS
    layui.use(['element', 'layer', 'util'], function(){
        var element = layui.element
            ,layer = layui.layer
            ,util = layui.util
            ,$ = layui.$;

        //头部事件
        util.event('lay-header-event', {
            //左侧菜单事件
            menuLeft: function(othis){
                layer.msg('展开左侧菜单的操作', {icon: 0});
            }
            ,menuRight: function(){
                layer.open({
                    type: 1
                    ,content: '<div style="padding: 15px;"> 账号：<span id="idNumber"></span></div>'
                    ,area: ['260px', '100%']
                    ,offset: 'rt' //右上角
                    ,anim: 5
                    ,shadeClose: true
                });
            }
        });

    });

    // 这里我们随便加载一下数据，大家知道原理就好啦
    $.ajax({
        type:"post",
        url: "/firstTest/getMessage",
        async:false,
        success:function (data) {
            for(var i=0;i<data.length;i++){
                $("#userName").html(data[0].userName)
                $("#idNumber").html(data[0].idNumber)
            }

        }
    })
</script>
</body>
</html>