<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gantiexia.commodity.mapper.CommodityMapper">

    <select id="getCommodityInformation" resultType="com.gantiexia.commodity.entity.Commodity">
        select
            id id,
            commodity_name commodityName,
            inventory_begin inventoryBegin,
            inventory_end inventoryEnd,
            price price,
            create_time createTime
        from
            t_commodity
    </select>

</mapper>