<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>杂货铺首页</title>
</head>
<link rel="stylesheet" href="../layui/css/layui.css">
<body>
  <!--测试商品显示样式-->
  <div style="margin: 10px;padding: 10px;width:13%;background-color: #9F9F9F;float: left">
      <img src="/picture/sample_picture_one.jpg" style="width: 190px;height: 190px" alt=""><br>
      <label>名称：<span ><a href="https://product.cnmo.com/cell_phone/index1625596.shtml" style="color: #0000FF" id="commodityName"></a></span></label><br>
      <label>库存：<span id="inventoryEnd"></span></label><br>
      <label>价格：<span id="price"></span></label><br>
      <div>
          <button id="customer" class="layui-btn layui-btn-sm">购买</button>
          <button id="collect" class="layui-btn layui-btn-sm layui-btn-danger">收藏</button>
      </div>
  </div>

  <!--测试商品显示样式-->
  <div style="margin: 10px;padding: 10px;width:13%;background-color: #9F9F9F;float: left">
      <img src="/picture/sample_picture_one.jpg" style="width: 190px;height: 190px" alt=""><br>
      <label>名称：<span ><a href="https://product.cnmo.com/cell_phone/index1625596.shtml" style="color: #0000FF" id="commodityName1"></a></span></label><br>
      <label>库存：<span id="inventoryEnd1"></span></label><br>
      <label>价格：<span id="price1"></span></label><br>
      <div>
          <button id="customer1" class="layui-btn layui-btn-sm">购买</button>
          <button id="collect1" class="layui-btn layui-btn-sm layui-btn-danger">收藏</button>
      </div>
  </div>

  <!--测试商品显示样式-->
  <div style="margin: 10px;padding: 10px;width:13%;background-color: #9F9F9F;float: left">
      <img src="/picture/sample_picture_one.jpg" style="width: 190px;height: 190px" alt=""><br>
      <label>名称：<span ><a href="https://product.cnmo.com/cell_phone/index1625596.shtml" style="color: #0000FF" id="commodityName2"></a></span></label><br>
      <label>库存：<span id="inventoryEnd2"></span></label><br>
      <label>价格：<span id="price2"></span></label><br>
      <div>
          <button id="customer2" class="layui-btn layui-btn-sm">购买</button>
          <button id="collect2" class="layui-btn layui-btn-sm layui-btn-danger">收藏</button>
      </div>
  </div>

</body>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../layui/layui.js"></script>
<script>

    // 显示库存余量
    $.ajax({
        type: "post",
        url : "/commodity/getCommodityInformation",
        async : false,
        cache : false,
        success : function (data) {
            // 样式数据显示，待改
            $('#commodityName').html(data[0].commodityName);
            $('#inventoryEnd').html(data[0].inventoryEnd);
            $('#price').html("￥"+data[0].price);
            // 样式数据显示，待改
            $('#commodityName1').html(data[0].commodityName);
            $('#inventoryEnd1').html(data[0].inventoryEnd);
            $('#price1').html("￥"+data[0].price);
            // 样式数据显示，待改
            $('#commodityName2').html(data[0].commodityName);
            $('#inventoryEnd2').html(data[0].inventoryEnd);
            $('#price2').html("￥"+data[0].price);
        }
    })

    // 购买按钮,样式测试，待改
    $('#customer').click(function () {
        layer.open({
            title: '付款'
            ,content: ' <div style="float: left;width: 50%">\n' +
                '                  <img src="/picture/weixinCode.png" style="width: 220px;height: 220px">\n' +
                '                  <p style="text-align: center">微信</p>\n' +
                '              </div>\n' +
                '\n' +
                '              <div style="float: left;width: 50%">\n' +
                '                  <img src="/picture/zhifubaoCode.png" style="width: 220px;height: 220px">\n' +
                '                  <p style="text-align: center">支付宝</p>\n' +
                '              </div>'
        });
    })
    // 购买按钮,样式测试，待改
    $('#customer1').click(function () {
        layer.open({
            title: '付款'
            ,content: ' <div style="float: left;width: 50%">\n' +
                '                  <img src="/picture/weixinCode.png" style="width: 220px;height: 220px">\n' +
                '                  <p style="text-align: center">微信</p>\n' +
                '              </div>\n' +
                '\n' +
                '              <div style="float: left;width: 50%">\n' +
                '                  <img src="/picture/zhifubaoCode.png" style="width: 220px;height: 220px">\n' +
                '                  <p style="text-align: center">支付宝</p>\n' +
                '              </div>'
        });
    })
    // 购买按钮,样式测试，待改
    $('#customer2').click(function () {
        layer.open({
            title: '付款'
            ,content: ' <div style="float: left;width: 50%">\n' +
                '                  <img src="/picture/weixinCode.png" style="width: 220px;height: 220px">\n' +
                '                  <p style="text-align: center">微信</p>\n' +
                '              </div>\n' +
                '\n' +
                '              <div style="float: left;width: 50%">\n' +
                '                  <img src="/picture/zhifubaoCode.png" style="width: 220px;height: 220px">\n' +
                '                  <p style="text-align: center">支付宝</p>\n' +
                '              </div>'
        });
    })

    // 点击取消按钮，关闭弹出框
    $('#cancel').click(function () {
        // 关闭付款弹窗
        $('#itemInformation').hide();
    })
</script>
</html>