<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录注册</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        .layui-progress-big{
            background-color: #9F9F9F;
        }
        .layui-input-block .layui-form-checkbox span{
            color: white;
        }
    </style>
</head>
<body style="background-color: #2E2D3C">
<div>
<!--    <div id="loginDiv">-->
<!--        <div style="padding: 20px;background-color: #9F9F9F;width: 400px;height: 150px;margin-top: 15%;margin-left: 38%;border-radius: 20px">-->
<!--            <div class="layui-form-item">-->
<!--                <label class="layui-form-label" style="color: white">账号：</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="tel" id="idNumber" name="idNumber" autocomplete="off" class="layui-input">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="layui-form-item">-->
<!--                <label class="layui-form-label" style="color: white">密码：</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="password" id="password" name="password" autocomplete="off" class="layui-input">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="layui-form-item">-->
<!--                <a id="turnToRegisterPage">-->
<!--                    <button id="goToRegister" class="layui-btn" style="position: relative;left: 120px">去注册</button>-->
<!--                </a>-->
<!--                <a id="turnToHomePage">-->
<!--                    <button id="loginSystem" class="layui-btn" style="position: relative;left: 140px">登录</button>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div id="loginDiv">
        <div style="padding: 20px;background-color: #9F9F9F;width: 400px;height: 193px;margin-top: 15%;margin-left: 38%;border-radius: 20px">
            <!-- 由SpringSecurity管理控制的登录-->
            <form action="/loginSys" method="POST" class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="color: white">账号：</label>
                    <div class="layui-input-inline">
                        <input type="tel" id="idNumber" name="idNumber" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="color: white">密码：</label>
                    <div class="layui-input-inline">
                        <input type="password" id="password" name="password" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item" style="background-color: #9F9F9F">
                    <div class="layui-input-block">
                        <input type="checkbox" id="remember-me" name="remember-me" title="记住我" lay-skin="primary">
                    </div>
                </div>

                <input type="submit" value="登录" class="layui-btn" style="position: relative;left: 130px">
            </form>

            <!-- 显示注册模块-->
            <a id="turnToRegisterPage">
                <button id="goToRegister" class="layui-btn" style="position: relative;left: 215px;top: -38px">去注册</button>
            </a>

        </div>
    </div>

    <!-- 注册模块-->
    <div class="layui-form" lay-filter="selFilter" style="display: none" id="registerDiv">
        <div style="padding: 20px;background-color: #9F9F9F;width: 400px;height: 550px;margin-top: 5%;margin-left: 38%;border-radius: 20px">
            <div class="layui-form-item">
                <label class="layui-form-label" style="color: white;">账号：</label>
                <div class="layui-input-inline">
                    <input type="tel" id="idNumberRegister" name="idNumber" style="background-color: #999999" readonly="true" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="color: white">密码：</label>
                <div class="layui-input-inline">
                    <input type="password" id="passwordRegister" name="password" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" style="color: white">用户名：</label>
                <div class="layui-input-inline">
                    <input type="text" id="userName" name="password" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" style="color: white">性别：</label>
                <div class="layui-input-inline">
                    <select name="sex" id="sex">
                        <!--首选：selected  禁选：disabled-->
                        <option value="" selected></option>
                        <option value="0">男</option>
                        <option value="1">女</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" style="color: white">邮箱：</label>
                <div class="layui-input-inline">
                    <input type="text" id="email" name="email" autocomplete="off" class="layui-input">
                </div>
                <button id="sendAuthCodeEmail" class="layui-btn layui-btn-sm">发送验证码</button>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" style="color: white">验证码：</label>
                <div class="layui-input-inline">
                    <input type="text" id="checkCode" name="password" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" style="color: white">头像：</label>
                <button type="button" class="layui-btn layui-btn-sm" id="uploadPicture">上传图片</button>
            </div>
            <div class="layui-upload" style="position: relative;left: 110px">
                <div class="layui-upload-list" id="pictureShow">
                    <img style="width: 92px;height: 92px" class="layui-upload-img" id="demo1">
                    <p id="demoText"></p>
                </div>
                <div style="width: 95px;">
                    <div class="layui-progress layui-progress-big" lay-showpercent="yes" lay-filter="demo">
                        <div class="layui-progress-bar" lay-percent=""></div>
                    </div>
                </div>
            </div>

            <a name="list-progress"> </a>

            <div style="margin-top: 10px;">

            </div>

            <div class="layui-form-item">
                <a id="turnLoginPage">
                    <button id="goToLoginSystem" class="layui-btn" style="position: relative;left: 120px">去登录</button>
                </a>
                <button type="button" id="registerRegister" class="layui-btn" style="position: relative;left: 140px">注册</button>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../layui/layui.js"></script>
<script>
    // 上传头像
    layui.use(['upload', 'element', 'layer'], function(){
        var $ = layui.jquery
            ,upload = layui.upload
            ,element = layui.element
            ,layer = layui.layer;
        // 常规使用 - 普通图片上传
        var idNumber;
        var userName;

        // 点击去登陆
        $('#goToLoginSystem').click(function () {
            // 登录弹窗显示
            $('#loginDiv').show();
            // 注册弹窗消失
            $('#registerDiv').attr('style','display: none');

            // 清空输入框
            $('#registerDiv #passwordRegister').val('');
            $('#registerDiv #userName').val('');
            $('#registerDiv #sex').val('');
            $('#registerDiv #email').val('');
            $('#registerDiv #checkCode').val('');

            layui.use('form', function() {
                var form = layui.form(); //高版本建议把括号去掉，有的低版本，需要加()
                form.render();
            });

            // 取消注册或者弹出注册页面清除头像显示框
            $('#registerDiv #demo1').remove();
            $('#registerDiv #pictureShow').append('<img style="width: 92px;height: 92px" class="layui-upload-img" id="demo1">');
            //进度条复位
            element.progress('demo', '');
        })

        // 点击注册
        $('#registerRegister').click(function () {
            // 账号
            var idNumber = $('#registerDiv #idNumberRegister').val();
            // 密码
            var password = $('#registerDiv #passwordRegister').val();

            if(password == null || password == ''){
                layer.msg('请输入密码', {
                    // 1s后自动关闭
                    time: 3000,
                });
                return;
            }
            // 用户名
            var userName = $('#registerDiv #userName').val();
            if(userName == null || userName == ''){
                layer.msg('请输入用户名', {
                    // 1s后自动关闭
                    time: 3000,
                });
                return;
            }
            // 性别
            var sex = $('#registerDiv #sex').val();
            if(sex == null || sex == ''){
                layer.msg('请输入性别', {
                    // 1s后自动关闭
                    time: 3000,
                });
                return;
            }
            // 邮箱
            var email = $('#registerDiv #email').val();
            if(email == null || email == ''){
                layer.msg('请输入邮箱', {
                    // 1s后自动关闭
                    time: 3000,
                });
                return;
            }
            // 验证码
            var authCode = $('#registerDiv #checkCode').val();
            if(email == null || authCode == ''){
                layer.msg('请输入验证码', {
                    // 1s后自动关闭
                    time: 3000,
                });
                return;
            }
            // 头像
            var image = $('#registerDiv #demo1').attr('src');
            if(image == null || image == ''){
                layer.msg('请上传头像', {
                    // 1s后自动关闭
                    time: 3000,
                });
                return;
            }

            // 添加用户
            $.ajax({
                type:"post",
                url : "/login/register",
                async:false,
                data : {
                    idNumber : idNumber,
                    password : password,
                    userName : userName,
                    sex : sex,
                    email : email,
                    authCode : authCode
                },
                success:function (data) {
                    layer.msg(data.message, {
                        // 1s后自动关闭
                        time: 3000,
                    });
                }
            })
        })

        // 发送验证码
        $('#sendAuthCodeEmail').click(function () {
            // 邮箱
            var email = $('#email').val();
            // 账号
            var idNumber = $('#idNumberRegister').val();

            if(idNumber == null || idNumber == ''){
                layer.msg('账号不能为空', {
                    //3s后自动关闭
                    time: 3000,
                });
                return;
            }

            if(email == null || email == ''){
                layer.msg('请输入邮箱', {
                    //3s后自动关闭
                    time: 3000,
                });
                return;
            }

            $.ajax({
                type:"post",
                url : "/login/checkCode",
                async:false,
                data : {
                    email : email,
                    idNumber : idNumber
                },
                success:function (data) {
                    layer.msg(data.message, {
                        //1s后自动关闭
                        time: 3000,
                    });
                }
            })
        })

        // 点击去注册
        $('#goToRegister').click(function () {
            // 登录弹窗消失
            $('#loginDiv').attr('style','display: none');
            // 注册弹窗显示
            $('#registerDiv').show();

            // 填充将要被注册的账号
            $.ajax({
                type:"post",
                url : "/login/getNextIdNumber",
                async:false,
                success:function (data) {
                    $('#idNumberRegister').val(data)
                }
            })
        })

        // 登录系统
        $('#loginSystem').click(function () {
            // 账号
            var idNumber = $('#idNumber').val();
            // 密码
            var password = $('#password').val();

            if(idNumber == ''){
                layer.msg('请输入账号', {
                    //3s后自动关闭
                    time: 1000,
                });
                return;
            }
            if(password == ''){
                layer.msg('请输入密码', {
                    //3s后自动关闭
                    time: 1000,
                });
                return;
            }

            // 判断是否登录成功
            $.ajax({
                type:"post",
                url : "/login/loginSystem",
                async:false,
                data : {
                    idNumber : idNumber,
                    password : password
                },
                success:function (data) {
                    // 状态码为200登录成功
                    if(data.code == '200'){
                        layer.msg('登录成功', {
                            //3s后自动关闭
                            time: 3000,
                        });
                        // 跳转主页
                        $('#turnToHomePage').attr('href','/store/homepage')
                    } else if (data.code == '404'){
                        // 状态码为404登录失败
                        layer.msg('账号不存在或密码错误', {
                            time: 3000,
                        });
                    }
                }
            })
        })

        //  上传图片组件
        var uploadInst = upload.render({
            elem: '#uploadPicture'
            ,url: '/login/layupload'
            ,data: {
                idNumber : idNumber,
                userName : userName,
            }
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });

                element.progress('demo', '0%'); //进度条复位
                layer.msg('上传中', {icon: 16, time: 0});

                // 参数
                this.data.idNumber = $('#registerDiv #idNumberRegister').val();
                this.data.userName = $('#registerDiv #userName').val();
            }
            ,done: function(res){
                console.log(res)
                //如果上传失败
                if(res.code == '404'){
                    return layer.msg('上传失败');
                }
                //上传成功的一些操作
                if(res.code == '200'){
                    return layer.msg('上传成功');
                }

                $('#demoText').html(''); //置空上传失败的状态
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
            //进度条
            ,progress: function(n, elem, e){
                element.progress('demo', n + '%'); //可配合 layui 进度条元素使用
                if(n == 100){
                    layer.msg('上传完毕', {icon: 1});
                }
            }
        });
    });
</script>
</body>
</html>