<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>去哪儿</title>
    <link rel="shortcut icon" type="image/x-icon" href="/picture/pageShow2.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/loginPageTwo.css">
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>
    <div class="container right-panel-active">

        <!-- 注册页面 -->
        <div class="container-form container-signup">
            <form action="" class="form">
                <h2 class="form-title"><strong>生活馆</strong></h2>
                <input type="text" id="idNumberRegister" required readonly placeholder="账号" class="input">
                <input type="email" id="email" name="email" required placeholder="邮箱" class="input">
                <input type="text" placeholder="验证码" id="checkCode" name="checkCode" required class="input">
                <input type="password" placeholder="账号密码" id="passwordRegister" name="password"  required class="input">
                <button class="submit" type="button" id="registerRegister">注 册</button>
                <a style="position: relative;top: -242px" class="sendEmail" id="sendAuthCodeEmail" href="##">发送验证码</a>
            </form>
        </div>

        <!-- 登录页面 -->
        <div class="container-form container-signin">
            <form action="/loginSys" id="loginForm" method="post" class="form">
                <h2 class="form-title"><strong>生活馆</strong></h2>
                <input type="text" placeholder="账号" required id="idNumber" name="idNumber" class="input">
                <input type="password" placeholder="密码" required id="password" name="password" class="input">
                <label class="loginError" th:if="${param.error}"
                       th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">
                </label>
<!--                <div class="layui-form-item">-->
<!--                    <div class="layui-input-block">-->
<!--                        <input type="checkbox" id="remember-me" name="remember-me" title="记住我" lay-skin="primary">-->
<!--                    </div>-->
<!--                </div>-->
                <a class="link" href="javascript:void(0);" style="font-style: italic" id="forgetPassword">忘记账号或密码？</a>
                <button class="submit" type="button" id="loginTest">登 录</button>
                <a class="link" href="javascript:void(0);" id="privateNegotiate">《隐私协议》</a>
            </form>
        </div>

        <!-- 覆盖层 -->
        <div class="container-overlay">
            <div class="overlay">
                <div class="overlay-slide overlay-left">
                    <button class="submit" id="goSignIn">登 录</button>
                </div>
                <div class="overlay-slide overlay-right">
                    <button class="submit" id="goSignUp">注 册</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../layui/layui.js"></script>
<script>
    window.addEventListener('load',()=>{
        // 点击去登录切换
        $('#goSignIn').click(function () {
            // 改变修改密码的ID值
            $('#editPassWord').attr("id","registerRegister");
            // 切换菜单
            $('.container').removeClass('switch');
        })

        // 点击去注册切换
        $('#goSignUp').click(function () {
            // 显示账号输入框
            $('#idNumberRegister').attr("type","text");
            // 将按钮的值改为注册
            $('#registerRegister').html('注册');
            // 清空注册界面邮箱输入框的值
            $('#email').val('');
            // 清空注册界面验证码输入框的值
            $('#checkCode').val('');
            // 清空注册界面密码输入框的值
            $('#passwordRegister').val('');
            // 填充将要被注册的账号
            $.ajax({
                type:"post",
                url : "/login/getNextIdNumber",
                async:false,
                success:function (data) {
                    $('#idNumberRegister').val(data)
                }
            })
            $('.container').addClass('switch');
        })

        // 点击忘记密码
        $('#forgetPassword').click(function () {
            // 清空注册界面账号输入框的值
            $('#idNumberRegister').val('');
            // 清空注册界面邮箱输入框的值
            $('#email').val('');
            // 清空注册界面验证码输入框的值
            $('#checkCode').val('');
            // 清空注册界面密码输入框的值
            $('#passwordRegister').val('');
            // 隐藏账号输入框
            $('#idNumberRegister').attr("type","hidden");
            // 将按钮的值改为修改密码
            $('#registerRegister').html('修改密码');

            // 切换到修改密码界面
            $('.container').addClass('switch');
        })

    })

    // 隐私协议
    $('#privateNegotiate').click(function () {
        layer.open({
            title: '隐私协议'
            ,content: '平台不会泄露您的任何个人隐私。<br>请放心注册，密码在后台已做加密处理！'
        });
    })

    // 点击登录
    $('#loginTest').click(function () {
        // 账号
        var idNumber = $('#idNumber').val();
        if(idNumber == null || idNumber == ''){
            layer.msg('请输入登录账号', {
                // 2s后自动关闭
                time: 2000,
            });
            return;
        }

        // 密码
        var password = $('#password').val();
        if(password == null || password == ''){
            layer.msg('请输入登录密码', {
                // 2s后自动关闭
                time: 2000,
            });
            return;
        }

        $('#loginForm').submit();
    })

    // 发送验证码
    $('#sendAuthCodeEmail').click(function () {
        // 邮箱
        var email = $('#email').val();
        // 账号
        var idNumber = $('#idNumberRegister').val();
        if(email == null || email == ''){
            layer.msg('请输入注册邮箱', {
                // 2s后自动关闭
                time: 2000,
            });
            return;
        } else {
            // 邮箱正则表达式验证
            var checkEmail = /^\w+@[a-z0-9]+\.[a-z]{2,4}$/;
            if(!checkEmail.test(email)) {
                layer.msg('请输入正确的邮箱', {
                    // 2s后自动关闭
                    time: 2000,
                });
            }
        }
        // 执行发送
        $.ajax({
            type:"post",
            url : "/login/checkCode",
            async:false,
            data : {
                email : email,
                idNumber : idNumber
            },
            success:function (data) {
                layer.msg(data.message, {
                    // 2s后自动关闭
                    time: 2000,
                });
            }
        })
    })

    // 点击注册
    $('#registerRegister').click(function () {
        // 账号
        var idNumber = $('#idNumberRegister').val();

        // 邮箱
        var email = $('#email').val();
        if(email == null || email == ''){
            layer.msg('请输入注册邮箱', {
                // 2s后自动关闭
                time: 2000,
            });
            return;
        }
        // 验证码
        var authCode = $('#checkCode').val();
        if(email == null || authCode == ''){
            layer.msg('请输入验证码', {
                // 2s后自动关闭
                time: 2000,
            });
            return;
        }
        // 密码
        var password = $('#passwordRegister').val();
        if(password == null || password == ''){
            layer.msg('请输入账号密码', {
                // 2s后自动关闭
                time: 2000,
            });
            return;
        }

        // 如果ID为空，则是修改密码
        if(idNumber == '' || idNumber == null){
            // 修改密码
            $.ajax({
                type:"post",
                url : "/login/updatePassword",
                async:false,
                data : {
                    email : email,
                    authCode : authCode,
                    password : password
                },
                success:function (data) {
                    layer.msg(data.message, {
                        // 2s后自动关闭
                        time: 2000,
                    });
                }
            })
        } else {
            // 如果ID为空，则是添加用户
            $.ajax({
                type:"post",
                url : "/login/register",
                async:false,
                data : {
                    idNumber : idNumber,
                    password : password,
                    email : email,
                    authCode : authCode
                },
                success:function (data) {
                    layer.msg(data.message, {
                        // 1s后自动关闭
                        time: 1000,
                    });
                }
            })
        }

    })
</script>
</html>