<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录注册</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<style>
    .layui-progress-big{
        background-color: #9F9F9F;
    }
</style>
<body style="background-color: #2E2D3C">
<div>
    <!--轮播图-->
    <!--<div style="padding: 20px">-->
    <!--    <div class="layui-carousel" id="test2">-->
    <!--        <div carousel-item>-->
    <!--            <div style="background-color: #00FFFF">条目1</div>-->
    <!--            <div style="background-color: #1E9FFF">条目2</div>-->
    <!--            <div style="background-color: #009f95">条目3</div>-->
    <!--            <div style="background-color: #eb7350">条目4</div>-->
    <!--            <div style="background-color: #FFB800">条目5</div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
</div>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../layui/layui.js"></script>
<script>
    // 轮播图
    // layui.use('carousel', function(){
    //     var carousel = layui.carousel;
    //     //建造实例
    //     carousel.render({
    //         elem: '#test2'
    //         ,width: '100%' //设置容器宽度
    //         // ,arrow: 'always' //始终显示箭头
    //         ,anim: 'fade' //切换动画方式
    //     });
    // });
</script>
</body>
</html>