<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于杂货铺</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>
<div class="layui-col-md9 site-content">
    <blockquote class="site-text layui-elem-quote">
        这是一个致力于学习练手的开源平台，目前尚未开发完毕，<strong>会持续更新。</strong>拉取一次代码，持续更新即可
    </blockquote>
    <blockquote class="site-text layui-elem-quote">
        由于本项目由博主个人开发，所以具有一定的局限性，如果各位同学有较好的建议，可以到博主的首篇架构设计博客下面留言，您的建议极其重要！
    </blockquote>
    <blockquote class="site-text layui-elem-quote">
        <strong>项目会涉及到但不局限于：</strong>
        <p>· JDK1.8</p>
        <p>· SpringBoot</p>
        <li>· MyBatis</li>
        <li>· Redis</li>
        <p>· RabbitMQ</p>
        <li>· SpringSecurity</li>
        <p>· jQuery</p>
        <li>· Apache ECharts</li>
        <li>· Layui</li>
        <strong>···</strong>
        <strong>注：启动项目前请配置好redis和RabbitMQ，并修改数据库连接属性</strong>
    </blockquote>
    <blockquote class="site-text layui-elem-quote">
        <strong>您的支持是我源源不断的更新动力！请多给博主博客点赞关注！谢谢！</strong>
        <br><br>
        <strong>博客主页：</strong><a style="color: red" target="_blank" href="https://blog.csdn.net/qq_51250453">肝铁侠的CSDN博客主页</a>
    </blockquote>
</div>

<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../layui/layui.js"></script>
<script>

</script>
</body>
</html>