<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于杂货铺</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>
<div class="layui-col-md9 site-content">
    <blockquote class="site-text layui-elem-quote">
        这是一个致力于学习练手的开源平台，目前尚未开发完毕，<strong>会持续更新。</strong>拉取一次代码，持续更新即可
    </blockquote>
    <blockquote class="site-text layui-elem-quote">
        由于本项目由博主个人开发，所以具有一定的局限性，如果各位同学有较好的建议，可以到博主的首篇架构设计博客下面留言，您的建议极其重要！
        <br>
        <br>
        传送门：<a style="color: red" target="_blank" href="https://blog.csdn.net/qq_51250453/article/details/120590670?spm=1001.2014.3001.5501">博客整体架构介绍</a>
    </blockquote>
    <blockquote class="site-text layui-elem-quote">
        <strong>项目会涉及到但不局限于：</strong>
        <p>· JDK1.8</p>
        <p>· SpringBoot</p>
        <p>· jQuery</p>
        <p>· HTML</p>
        <li>· CSS / JavaScript</li>
        <li>· MyBatis</li>
        <li>· 前端采用Layui进行页面设计</li>
        <li>· 权限控制后续选择Shiro</li>
        <strong>···</strong>
    </blockquote>
    <blockquote class="site-text layui-elem-quote">
        <strong>您的支持是我源源不断的更新动力！您可以多给博主点赞，或者</strong>
        <br>
        <strong>打赏博主：</strong>
        <br>
        <strong>微信：</strong>
        <img src="/picture/weixinCode.png" style="width: 220px;height: 220px">
        <strong>支付宝：</strong>
        <img src="/picture/zhifubaoCode.png" style="width: 220px;height: 220px">
    </blockquote>
</div>

<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../layui/layui.js"></script>
<script>

</script>
</body>
</html>