<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>我的小铺子</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>
<div class="layui-layout layui-layout-admin layui-bg-black">
    <!--头部区域导航区域-->
    <div class="layui-header layui-bg-black">
        <div class="layui-logo layui-hide-xs layui-bg-white">Yours杂货铺</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-right layui-bg-black">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
                    <img id="personagePicture" src="/picture/picture.jpg" class="layui-nav-img">
                    <span id="userName">用户名</span>  |  <span id="idNumber">账号</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">个人中心</a></dd>
                    <dd><a href="/store/loginPage">登录</a></dd>
                    <dd><a href="">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
<!--                <a href="javascript:;">-->
<!--                    <i class="layui-icon layui-icon-more-vertical"></i>-->
<!--                </a>-->
            </li>
        </ul>
    </div>

    <!--左侧导航区域-->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-bg-black layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">商品分类</a>
                    <dl class="layui-nav-child">
                        <dd><a id="telPhone">手机</a></dd>
                        <dd><a >平板</a></dd>
                        <dd><a >电脑</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a class="" href="javascript:;">商品管理</a>
                    <dl class="layui-nav-child">
                        <dd><a id="uploadCommodity">上架商品</a></dd>
                        <dd><a href="javascript:;">下架商品</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:;">商品审核</a></li>
                <li class="layui-nav-item"><a href="javascript:;">我的收藏</a></li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">我的订单</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">待发货</a></dd>
                        <dd><a href="javascript:;">已签收</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" ><a id="aboutStore">关于杂货铺</a></li>
            </ul>
        </div>
    </div>

    <!-- 内容主体区域 -->
    <div class="layui-body">
      <iframe id="informationMain" src="" style="width: 99%;height: 99%"></iframe>
    </div>

    <!-- 底部固定区域 -->
    <div class="layui-footer">
        <p style="text-align: center;color: black">Yours杂货铺</p>
    </div>
</div>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../layui/layui.js"></script>
<script>

    // 回显账号信息
    $.ajax({
        type:"post",
        url : "/login/showUserMessage",
        async:false,
        success:function (data) {
            if(data.userName == null && data.idNumber == null){
                $('#userName').html("用户名");
                $('#idNumber').html("账号");

            } else if(data != null){
                $('#userName').html(data.userName);
                $('#idNumber').html(data.idNumber);
                $('#personagePicture').attr('src',data.personagePicture);

            }
        }
    })

    // 点击手机的时候
    $('#telPhone').click(function () {
        $('#informationMain').attr('src','/store/toCommodityPage');
    })

    // 点击上架商品
    $('#uploadCommodity').click(function () {
        $('#informationMain').attr('src','/store/toManageCommodityPage');
    })

    // 点击关于杂货铺
    $('#aboutStore').click(function () {
        $('#informationMain').attr('src','/store/toAboutStorePage');
    })
</script>
</body>
</html>