<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>杂货铺</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>
<div class="layui-layout layui-layout-admin layui-bg-black">
    <!--头部区域导航区域-->
    <div class="layui-header layui-bg-black">
        <div class="layui-logo layui-hide-xs layui-bg-white">
            <a href="" style="color: #009f95">Yours杂货铺</a>
        </div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-right layui-bg-black">

            <li class="layui-show-md-inline-block" style="position:relative;top: 5px">
                <a href="javascript:;" style="color: white">
                    <span id="nowTime"></span>
                </a>
            </li>

            <li class="layui-nav-item layui-hide layui-show-md-inline-block">

                <a href="javascript:;">
                    <img id="personagePicture" src="/picture/picture.jpg" class="layui-nav-img">
                    <span id="userName">用户名</span>  |  <span id="idNumber">账号</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a id="personalPage">个人中心</a></dd>
                    <dd><a href="/store/loginPage">登录</a></dd>
                    <dd><a href="/logout">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
<!--                <a href="javascript:;">-->
<!--                    <i class="layui-icon layui-icon-more-vertical"></i>-->
<!--                </a>-->
            </li>
        </ul>
    </div>

    <!--左侧导航区域-->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-bg-black layui-nav-tree"  lay-filter="test">

                <li class="layui-nav-item">
                    <a class="" href="javascript:;">系统管理</a>
                    <dl class="layui-nav-child">
                        <dd><a>角色管理</a></dd>
                        <dd><a id="userManage">用户管理</a></dd>
                        <dd><a>在线用户</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a class="" href="javascript:;">商品分类</a>
                    <dl class="layui-nav-child">
                        <dd><a id="telPhone">手机</a></dd>
                        <dd><a >平板</a></dd>
                        <dd><a >电脑</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a class="" href="javascript:;">商品管理</a>
                    <dl class="layui-nav-child">
                        <dd><a id="uploadCommodity">上架商品</a></dd>
                        <dd><a href="javascript:;">下架商品</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:;">商品审核</a></li>
                <li class="layui-nav-item"><a href="javascript:;">我的收藏</a></li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">我的订单</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">待发货</a></dd>
                        <dd><a href="javascript:;">已签收</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" ><a id="aboutStore">关于杂货铺</a></li>
            </ul>
        </div>
    </div>

    <!-- 内容主体区域 scrolling=no:不使用生成下拉-->
    <div class="layui-body">
        <iframe id="informationMain" src="" frameborder=0 style="width: 100%;height: 100%;"></iframe>
    </div>

    <!-- 底部固定区域 -->
    <div class="layui-footer">
        <p style="text-align: center;color: black">Yours杂货铺</p>
    </div>
</div>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../layui/layui.js"></script>
<script>

    function timeStampString() {
        var dateTime = new Date();
        var show_day = ['星期一','星期二','星期三','星期四','星期五','星期六','星期日'];
        var day = dateTime.getDay();
        var year = dateTime.getFullYear();
        var month = dateTime.getMonth() + 1 < 10 ? "0" + (dateTime.getMonth() + 1) : dateTime.getMonth() + 1;
        var date = dateTime.getDate() < 10 ? "0" + dateTime.getDate() : dateTime.getDate();
        var hour = dateTime.getHours() < 10 ? "0" + dateTime.getHours() : dateTime.getHours();
        var minute = dateTime.getMinutes() < 10 ? "0" + dateTime.getMinutes() : dateTime.getMinutes();
        var second = dateTime.getSeconds() < 10 ? "0" + dateTime.getSeconds() : dateTime.getSeconds();

        if(day == 0){
            // 周日
            day = 7;
        }

        return  year + "年" + month + "月" + date + "日   " + hour + ":" + minute + ":" + second + "  " + show_day[day-1];
    }

    $(function () {
        setInterval(function () {
            var currentDateFormat = timeStampString();
            $('#nowTime').text(currentDateFormat.toLocaleString())
        },1000)
    })


    // 回显账号信息
    $.ajax({
        type:"post",
        url : "/login/showUserMessage",
        async:false,
        success:function (data) {
            if(data.userName == null && data.idNumber == null){
                $('#userName').html("用户名");
                $('#idNumber').html("账号");

            } else if(data != null){
                $('#userName').html(data.userName);
                $('#idNumber').html(data.idNumber);
                $('#personagePicture').attr('src',data.personagePicture);

            }
        }
    })

    // 默认展示杂货铺的统计图表首页
    $('#informationMain').attr('src','/store/countPage');

    // 点击手机的时候
    $('#telPhone').click(function () {
        $('#informationMain').attr('src','/store/toCommodityPage');
    })

    // 点击用户管理
    $('#userManage').click(function () {
        $('#informationMain').attr('src','/store/userManage');
    })

    // 点击上架商品
    $('#uploadCommodity').click(function () {
        $('#informationMain').attr('src','/store/toManageCommodityPage');
    })

    // 点击关于杂货铺
    $('#aboutStore').click(function () {
        $('#informationMain').attr('src','/store/toAboutStorePage');
    })

    // 点击个人中心
    $('#personalPage').click(function () {
        $('#informationMain').attr('src','/store/personalPage');
    })
</script>
</body>
</html>